header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 3vh 3vw 0 3vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    p {
        position: absolute;
        background-color: black;
        width: 100vw;
        text-align: center;
        color: white;
        top: 0;
        left: 0;
        padding: 1vh 0;
        font-family: Space Mono;
        font-size: 0.8rem;
    }

    div {
        display: flex;
        gap: 3vw;
        align-items: baseline;
    }

    img {
        width: 10vw;
        object-fit: contain;
        position: absolute;
        top: 2.5vh;
        left: 45vw;
    }

    a {
        color: black;
        margin: 0;
        padding: 0;
    }
}
