@font-face {
    font-family: Space Mono;
    src: url(../../assets/fonts/SpaceMono-Regular.ttf);
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10vh 2vw 10vh 2vw;

    p {
        position: absolute;
        background-color: black;
        width: 100vw;
        text-align: center;
        color: white;
        top: 0;
        left: 0;
        padding: 1vh 0;
        font-family: Space Mono;
        font-size: 0.8rem;
    }

    div {
        display: flex;
        gap: 5vw;
    }

    img {
        width: 10vw;
        object-fit: contain;
        position: absolute;
        top: 7.5vh;
        left: 45vw;
    }
}
